name: omnibus
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  pkg:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
          submodules: recursive
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
          bundler-cache: true
      - run: bundle install
      - run: bundle exec omnibus build spandx
